<div class="container" ng-controller="WishlistsCtrl">
	<h1 class="page-header">Wish Lists</h1>
       

	<div class="panel panel-default panel-order">
		<div class="panel-heading">
			<strong>WishList history</strong>
			<div class="btn-group pull-right">
			  <div class="btn-group">
			    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
			    Filter history <i class="fa fa-filter"></i>
			    </button>
			    <ul class="dropdown-menu dropdown-menu-right">
			      <li><a href="" ng-click="loadNewFilter('approved')">Approved</a></li>
			      <li><a href="" ng-click="loadNewFilter('pending')">Pending</a></li>
			      <li><a href="" ng-click="loadNewFilter('rejected')">Rejected</a></li>
			    </ul>
			  </div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row" ng-repeat="w in filteredWishlists = (wishlists | filter:wishlistFilter) | limitTo:quantity | orderBy: '-date_created'">
			  <div class="col-md-2"><img src="/img/santa_freeman.jpg" class="media-object"></div>
			  <div class="col-md-11">
			    <div class="row">
			      <div class="col-md-12">
			        <div class="pull-right"><i class="fa fa-certificate"></i> {{ w.approved ? 'Approved' : 'Pending'}}</div>
			        <span><strong><a href="#/wishlists/{{w.id}}">{{w.name}}</a></strong></span>
			      
			        <br>
			        <span>Wishes: {{w.wishes.length}}</span>
			        <br>
			        <span>Wishes granted: 3</span>
			      </div>
			      <div class="col-md-12">
			       Wishlist created on: {{w.date_created  | date:'MM/dd/yyyy'}} by <a href="#">Morgan Freeman</a>
			      </div>
			    </div>
			  </div>
			</div>
			<p style="margin-left: 20px;" ng-show="!filteredWishlists.length">no wishlists yet.</p>
		</div>
		<div class="panel-footer">
			<ul class="pagination">
			  <li class="active"><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>
		</div>
	</div>
</div>

<link href="/css/view_wishlists.css" rel="stylesheet">